.container {
  padding: 10px;
  /* Allow the container to scroll if content overflows */
  overflow: auto;
}

.page-card {
  background: #ffffff;
  padding: 20px;
  margin: 20px auto;
  max-width: 1400px; /* Set a max-width to center the content on large screens */
  box-sizing: border-box;
  overflow: auto;
}

/* Preset Selector */
.preset-selector {
  display: flex;
  align-items: center;
  flex-wrap: nowrap; /* Prevents items from moving to a new line */
  gap: 10px; /* Creates even spacing between elements */
}

.preset-selector mat-form-field {
  flex: 1 1 auto; /* This allows the select to grow/shrink as needed */
  min-width: 200px; /* Optional: ensure a reasonable minimum width for the select */
}

.preset-selector button {
  flex-shrink: 0; /* Ensure buttons don't shrink or wrap */
}


/* Responsive Layout */
.responsive-layout {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  box-sizing: border-box;
}

/* Two columns (music and ambience) side-by-side and player on the right. */
.section-column {
  flex: 1 1 300px; /* They can shrink to 300px and grow as needed */
  min-width: 300px;
  box-sizing: border-box;
}

.player-section {
  flex: 2 1 400px;
  min-width: 400px;
  display: flex;
  flex-direction: column;
}

/* Titles and Buttons */
.section-title {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 10px;
}

.delete-icon {
  margin-left: auto;
  cursor: pointer;
}

.add-header-btn {
  margin-top: 20px;
  align-self: flex-start;
}

/* Track Items */
.track-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  overflow: hidden;
  padding-right: 10px;
}

.track-name {
  flex-grow: 1;
  max-width: calc(100% - 40px);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* Tabs and Player */
.tab-buttons {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.tab-buttons button.active {
  font-weight: bold;
  background-color: #e0e0e0;
}

.player {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.youtube-player {
  width: 100%;
  max-width: 100%;
  height: auto;
  display: block;
}

/* Force the iframe inside the youtube-player to fit its parent */
.youtube-player iframe {
  width: 100% !important;
  height: auto !important;
}


/* Responsive Adjustments */
@media (max-width: 1000px) {
  /* Stack all sections vertically */
  .responsive-layout {
    flex-direction: column;
  }

  /* Make player section appear at the bottom */
  .player-section {
    order: 3; /* ensure player section goes after the columns */
  }
}

/* Further small screen adjustments */
@media (max-width: 768px) {
  .player-section {
    min-width: 100%;
  }
}
